
/* 4192022 Today work was about creting CSS and start the process of Style the webpages */
body {
    background-color: #ffefca;
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 58px;
}
header{
    background-color:#FFCC00;
    height: 150px;
    padding: 0px 89px 0px 0px;
    text-align: justify;
    font-size: 25px;
    color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
h1 {
    font-family: "Epilogue", arial verdana;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 3em
}
h4{
  font-size: small;
  text-align: center;
}
div.a {
    width: 650px;
    height: 175px;
    border: 1px;
    word-wrap:break-word;     
}
.first{
    height: 230px;
    width: 200px;
     float: left; margin-right: 10px; margin-bottom: auto; margin-top: 10px ;
     /* https://www.youtube.com/watch?v=mEMrFbX4Agg */
    
}
.second{
    height: 135px;
    float: left; margin-right: 10px; margin-bottom: 5px;  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9c911;
  }  
  li {
    float: left;
  }  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    border: 1px solid black;
  }  
  li a:hover:not(.active) {
    background-color: #13a89cfb;
  }  
  .active {
    background-color: #1d7a40d5;
    
  }
footer{
  position: absolute;
  bottom: 0%;
  height: 2.5 rem;
  width: 100%; 
  text-align: center;
  padding: 1px; 
  background-color: #FFCC00;
  color:black;
  font-size: small;
    }






















/* .navbar ul{
    list-style:none;       
    background: #663366;
    padding: 0;
    margin: 0;
    text-align: center;  
    bottom: 0;
}
.navbar li{
    display: inline-block;
    white-space: pre;
 }
.navbar a{
    text-decoration: none;
    color:white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:justify; */
/* }
.navbar a:hover{
    background: orange; */





/* Ideas
https://www.w3schools.com/css/tryit.asp?filename=trycss_text-align 
https://www.youtube.com/watch?v=uf3ayuzA6ME
https://www.w3schools.com/css/tryit.asp?filename=trycss_align_clearfix
https://www.w3schools.com/css/tryit.asp?filename=trycss_text-align_all*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_float */
/* https://www.youtube.com/watch?v=R5aRUdM7Iio&list=RDCMUCftpQ1d4SbYDrv6MfCel_iw&index=1 */
/* https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_div_test */
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_word-wrap */
/* https://www.google.com/search?q=padding&client=firefox-b-d&sxsrf=APq-WBslHwoxlCuwqpcKoSjbctSb07xXxA:1650488859379&tbm=isch&source=iu&ictx=1&vet=1&sa=X&ved=2ahUKEwjt3qyRxqP3AhW-RzABHaCECH4Q_h16BAgPEAU&biw=1378&bih=992&dpr=1.25#imgrc=Sw06B0DVZstWFM */


